GeoIP==1.3.1
IPy==0.81
Jinja2==2.7.3
MarkupSafe==0.23
Mezzanine==3.1.5
Pillow==2.4.0
PyYAML==3.11
Pygments==2.1.3
South==0.8.2
ansible==1.8.4
appnope==0.1.0
backports-abc==0.4
backports.ssl-match-hostname==3.4.0.2
basemap==1.0.7
beautifulsoup4==4.3.2
bleach==1.4
certifi==2015.04.28
configparser==3.3.0.post2
cycler==0.10.0
decorator==4.0.9
django-classy-tags==0.5.1
django-cms==3.0.2
django-contrib-comments==1.5
django-debug-toolbar==0.9.4
django-mptt==0.6.0
django-sekizai==0.7
django-tagging==0.3.2
django-xmlrpc==0.1.5
djangocms-admin-style==0.2.2
ecdsa==0.13
entrypoints==0.2
filebrowser-safe==0.3.4
future==0.9.0
gnureadline==6.3.3
grappelli-safe==0.3.11
gviz-api.py==1.8.2
html5lib==0.999
ipykernel==4.3.1
ipython==4.1.2
ipython-genutils==0.1.0
ipywidgets==4.1.1
jsonschema==2.3.0-dev
jupyter==1.0.0
jupyter-client==4.2.2
jupyter-console==4.1.1
jupyter-core==4.1.0
matplotlib==1.5.1
miniupnpc==1.9
mistune==0.7.2
nbconvert==4.2.0
nbformat==4.0.1
nose==1.3.3
notebook==4.1.0
numpy==1.8.1
oauthlib==0.6.3
paramiko==1.15.2
pathlib2==2.1.0
pexpect==4.0.1
pickleshare==0.7.2
psycopg2==2.5.1
ptyprocess==0.5.1
pycrypto==2.6.1
pyparsing==2.0.2
pyserial==2.6
python-dateutil==2.2
pytz==2014.4
pyzmq==14.7.0
qtconsole==4.2.1
requests==2.3.0
requests-oauthlib==0.4.1
scipy==0.14.0
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.4.1
speedtest-cli==0.3.4
terminado==0.6
tornado==4.2
traitlets==4.2.1
tzlocal==1.0
ua-parser==0.3.6
user-agents==0.3.2
utm==0.3.1
vboxapi==1.0
virtualenv==1.11.6
wsgiref==0.1.2
